*.pdf
*.png
.Rhistory
*.Rout
*.log
launch_autoland10344Rmd.r.Rout
autoland_neo.tex
*.csv
*.docx
*.xlsx
test*.r
Rtoffrep*.tex
autorep*.tex
*.aux
*.out
*.zip
*.xps
*.gz
*.RData
N21est.tex
N22est.tex
ffvsn2_eng1.tex
ffvsn2_eng2.tex
n1vsn2_eng1.tex
n1vsn2_eng2.tex
tlavsff_eng1.tex
tlavsff_eng2.tex
